In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one -1.403724 -0.450452
1    a  two  0.239823 -0.881415
2    b  one  0.415456  0.719588
3    b  two  0.845553 -0.449714
4    a  one -2.759070 -0.219258

In [2]:
gb = df.groupby(by='key1')
gb.sum()

           key2     data1     data2
key1
a     onetwoone -3.922970 -1.551126
b        onetwo  1.261009  0.269874

In [3]:
gb1 = df.groupby(by='key1')[['data1','data2']]
gb1.sum()

         data1     data2
key1
a    -3.922970 -1.551126
b     1.261009  0.269874