In [1]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1    1.807695
   2   -0.306485
   3   -1.691523
b  1   -1.928635
   2   -0.006981
c  3   -2.145813
   1    1.046032
d  2    1.182766
   3   -0.714968
dtype: float64

In [2]:
df1 = data.unstack()
df1

          1         2         3
a  1.807695 -0.306485 -1.691523
b -1.928635 -0.006981       NaN
c  1.046032       NaN -2.145813
d       NaN  1.182766 -0.714968

In [3]:
df1.stack()

a  1    1.807695
   2   -0.306485
   3   -1.691523
b  1   -1.928635
   2   -0.006981
c  1    1.046032
   3   -2.145813
d  2    1.182766
   3   -0.714968
dtype: float64