In [2]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=list('bde'),
             index=['taipei','taichung','tainan','kaohsiung'])
frame

                  b         d         e
taipei     0.378742  0.230561  0.328579
taichung  -0.032010  0.559682  0.947832
tainan    -1.520591 -2.164052  0.330293
kaohsiung -0.269521 -0.114245 -1.120616

In [3]:
#dataframe實體方法
frame.abs()

                  b         d         e
taipei     0.378742  0.230561  0.328579
taichung   0.032010  0.559682  0.947832
tainan     1.520591  2.164052  0.330293
kaohsiung  0.269521  0.114245  1.120616

In [4]:
#使用numpy function
np.abs(frame)

                  b         d         e
taipei     0.378742  0.230561  0.328579
taichung   0.032010  0.559682  0.947832
tainan     1.520591  2.164052  0.330293
kaohsiung  0.269521  0.114245  1.120616

In [5]:
frame

                  b         d         e
taipei     0.378742  0.230561  0.328579
taichung  -0.032010  0.559682  0.947832
tainan    -1.520591 -2.164052  0.330293
kaohsiung -0.269521 -0.114245 -1.120616

In [6]:
frame['b'].max() - frame['b'].min()

np.float64(1.899333188928851)

In [7]:
def abc(s):
    return s.max()-s.min()

frame.apply(abc)

b    1.899333
d    2.723733
e    2.068448
dtype: float64

In [8]:
frame.apply(abc,axis=1)

taipei       0.148181
taichung     0.979842
tainan       2.494345
kaohsiung    1.006371
dtype: float64