In [1]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=list('bde'),
             index=['taipei','taichung','tainan','kaohsiung'])
frame

                  b         d         e
taipei     1.642632 -0.901994 -0.198060
taichung   1.183983 -1.716073  0.352440
tainan     0.454293 -0.958097 -1.818863
kaohsiung -0.636207  0.578807  0.273665

In [3]:
def formap(value):
    return f'{value:.3f}%'

frame.map(formap)

                 b        d        e
taipei      1.643%  -0.902%  -0.198%
taichung    1.184%  -1.716%   0.352%
tainan      0.454%  -0.958%  -1.819%
kaohsiung  -0.636%   0.579%   0.274%